@media screen and (min-width:701px){
    .filter-options {
      padding: 5px 40px;
    }
    #restaurant-container, #reviews-container {
          margin-right: 0;
          margin-left:0;
          width:50%
    }
    .inside #map-container {
      background: blue none repeat scroll 0 0;
      height: 87%;
      position: fixed;
      right: 0;
      top: 80px;
      width: 50%;
    }
    .inside #map {
      height: 100%;
      width: 100%;
    }
    .inside header {
      position: fixed;
      top: 0;
      z-index: 1000;
    }
    #restaurant-img {
      width: 45vw;
    }
    #restaurant-container {
      margin-top: 130px;
    }
    h1 {
      padding: 12px 0;
    }
    h1 a {
      font-size: 1.8em;
    }
  }